---
- hosts: all
  vars:
    ansible_python_interpreter: /usr/bin/python3
  roles:
  - gantsign.golang
  tasks:
  - name: include ssh tasks
    include_tasks: setup_ssh_keys.yaml
  - name: install build tools
    apt:
      name: build-essential
      update_cache: yes
      state: present
  - name: setup workspace
    file:
      path: "{{ item }}"
      state: directory
    with_items:
      - "/home/{{ ansible_user }}/go"
      - "/home/{{ ansible_user }}/go/src"
    become: yes
    become_user: ubuntu
